@font-face {
  font-family: "Antonio1";
  src: url("../../assets/Antonio-Medium.ttf") format("truetype");
}

.project {
  width: 100%;
  height: auto;
  margin-top: 8rem;

  .top {
    font-family: Antonio1;
    text-align: center;
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3.1rem;
      font-weight: 500;
      transform: scaleY(1.15);
    }

    .bg1 {
      width: 4rem;
      aspect-ratio: 1/1;
      position: absolute;
      top: 57%;
      left: 3%;
      border-radius: 50%;
      background-color: #1d1d1d73;
    }
    .bg2 {
      width: 4rem;
      aspect-ratio: 1/1;
      position: absolute;
      top: 9%;
      right: 3%;
      border-radius: 50%;
      background-color: #1d1d1d73;
    }

    .svg1 {
      position: absolute;
      width: 4rem;
      z-index: 99;
      top: 60%;
      left: 3%;
    }

    .svg2 {
      position: absolute;
      width: 4rem;
      right: 3%;
      top: 5%;
    }
  }
}

@media (min-width: 730px) {
  .project {
    margin-top: 10rem;
    

  
    .top {
     width: 770px;
       margin: 0 auto;
      h1 {
        font-size: 6rem;
      }

      .bg1{
        width: 7rem;
        top: 70%;
      }

      .bg2{
        width: 7rem;
        top: -35%;
      }

      .svg1 {
        top: 80%;
        width: 7rem;
      }

      .svg2 {
        width: 8rem;
        top: -50%;
      }
    }
  }
}



@media (min-width: 1200px) {
  .project {
    margin-top: 15rem;
   
  

 
    .top {
        width: 1100px;
      h1 {
        font-size: 9rem;
        letter-spacing: -0.5rem;
        transform: scaleY(1.1);
        
      }

         .bg1{
        width: 7rem;
        top: 75%;
      }

            .bg2{
        width: 7rem;
        top: -35%;
        right: 5%;
      }


      .svg1 {
        top: 70%;
        width: 8rem;
      }

      .svg2 {
        width: 8rem;
        top: -45%;
      }
    }
  }
}
